.center{
    text-align: center !important;   
}

.left{
    text-align: left !important;    
}

.right{
   text-align: right !important;     
}

main a{
    text-decoration: underline;
}


/* ################# POPUP ####################*/

#popup-wrapper{
        
    position: fixed;
    z-index: 40;
    width:80%;
    
}


/* ################# END ####################*/

h1{
    margin:50px 0;
    text-align: center;
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 30px;
    
}

h2{
  
    text-align: center;

    
}


.artist-wrapper{
 margin-bottom:25px;   
}

.artist-wrapper img:hover{
       opacity: 0.8;
        cursor: pointer;
    
}

.artist-details-wrapper{
    position: relative;
    background-color: #f6f6f6; 
    margin:0;
    padding: 0 0 0 22px;
    height:60px;
    overflow: hidden;
}

.artist-details{
    position: relative;
    margin:0;
/*    padding: 0 0 0 22px;*/
    top: 50%;
    overflow: hidden;
    width:60%;
    
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.artist-details h4{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size:14px;
    margin:0;
/*    padding:22px 0 5px 0;*/
    
    
}

.artist-details h5{
    font-size:9px;
    margin:0;
    padding:0 0 0 0;
}

.social-wrapper{
    position: absolute;
    right:10px;
    top: 50%;
    overflow: hidden;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);    
    
}

.social{
    margin: 0 2px;
    display: inline-block;   
}

.previous{

    width: 100%;
    text-align: center;   
    margin: 20px 0 0 0;
    padding:20px 0;
    font-family: HelveticaNeueLTPro-Bd; 
}

/* ########## RETURNS ############/*/

#size-thumbnail-wrapper img:hover{
 
    opacity: 0.8;
    cursor: pointer;
    
}

#size-thumbnail-wrapper div{
    margin-bottom:20px;   
}

#returns{
    text-align: center;
    max-width:700px;
    margin: 0 auto;
    padding:0 20px;
}

/* ########## Contact ############/*/

#contact h2{
    margin:0 0 40px 0;   
}

.anchor{
    margin-left:-1px;
    parring-right:1px;
}

.business-sections{
    margin:50px 0 80px 0;   
}

.business-sections div{
    border:1px solid #3d3d3d;
    padding:20px 0;
}

#contact-us-img-4{
    margin-top:50px;   
}




/* ########## Join the odd collective ############/*/

#join-the-odd-collective h3{
    margin-top:0;
}

#join-the-odd-collective ul{
    list-style: none;
     padding:0;
}


#join-the-odd-collective li{
    margin:50px 0;
    padding:0;
}

.circle{
    background-color:#d1d1d1;
    border:1px solid #3d3d3d;
    padding:10px 12px;
    border-radius: 20px;
    float: right;
}



/* ##################### ARTIST ######################## */

#previous-artist-wrapper{
 
    margin:40px 0 0 0;   
    
}

/* ##################### IMAGE UPLOAD  ######################## */

iframe{
 
    height:40px;
    overflow:hidden;
    margin:5px 0;
    border: 0;
    cursor: pointer;
    width: 100%;
    padding: 0;
}

.static-message{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    bottom:-150px;
    left:0;
    text-align: center;
    padding:50px 0;
    z-index: 100;

    
    -webkit-transition: bottom 1s; /* Safari */
    transition: bottom 1s;
    
}

.error{
    border-top:4px solid #ed1c24;
}

.success{
     border-top:4px solid #acd373; 

}

.slide-in{

    bottom:0;

    -webkit-transition: bottom 1s; /* Safari */
    transition: bottom 1s;
    
}

.spacer{
    margin-bottom:20px;  
}