#banner{
    
 padding:0;
    
}


h2{
    text-align: center;
    margin:70px 0 50px 0;
}

.product-wrapper{
    padding-top:0;   
}

.image-2{
    top:0;   
}

#banners{
    margin-top:40px;   
}

#banners div{
    margin-bottom:40px;   
    
}

