.black{
    background-color: black;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    color:#ffffff;
}

.White{
    background-color: #ffffff;
    border-radius: 30px;
    border:1px solid #000000;
    width: 50px;
    height: 50px;
    color:#000000;
}

.size{
    display: none;
    
}

.catblack{
    display: block;
}