/* #####################   DOCUMENT   #################### */

main{
    position: relative;
  
}

h3{
margin:18px 0;  
}

/* #####################    Product Images   #################### */



#product-shot-wrapper{
    position:fixed;
    background-color: #f6f6f6; 
    height:688px;
    width:70%;
    overflow: scroll;
    overflow-y: hidden;
    margin:0;
    padding:0;
}

#product-shots{
    position: relative;
    height:100%;
/*    width:2500px;*/
    display: inline-block;
    
    position: absolute;
    top: 50%;
    
       width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

#product-shots ul{

    height:90%;
    margin:0;
    padding:0;
    list-style: none;
    
    

}

#product-shots ul li{

    margin:0 20px 0 20px;
    height:100%;
    display: inline-block;
    

}

.product-IMG{
    height:100%;
    width:auto;


}

#product-shot-controls{
    position:absolute;
    top:0;
    left:0;
    z-index:10;

}

.control{
    font-family: HelveticaNeueLTPro-Bd; 
    background-color:#ffffff;
    width:61px;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    opacity: 0.9;
    border: 1px solid #d7d7d7;
}

.control:hover{
        opacity: 1;
    cursor: pointer;
}

/* #####################    Product Info   #################### */

#product-details-wrapper{

    background-color:#f6f6f6;
    border-left:1px solid #3d3d3d;
    padding-bottom:100px;
}

h5{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size:12px;
}

#product-info-panel{
    width:80%;
    margin:0 auto;
    padding:35px 0 0 0;
}


/* Colour Selector  */
#color-selector ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    
}

#color-selector ul li{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    text-align: center;
    display: inline-block;
    width:60px;
    height:60px;
    padding-top:16px;
    border-radius: 30px;
    margin:12px 12px 0 0;
    border:4px solid #f6f6f6;
    background-size: 60px 60px;
}

#color-selector ul li:hover{
    border:4px solid #6d7076; 
    cursor: pointer;
/*    padding:11px 0;*/
}


#color-selector .active{
    border:4px solid #6d7076; 
    font-family: HelveticaNeueLTPro-Bd; 
    
/*    padding:10px 0;*/
}



#addon{
    
    padding:30px 0 20px 0;
    width:100%;
       
}


/* Stock Selector */

.stock-selector{
    margin-bottom: 20px;   
}

.stock-selector ul{
    margin: 0;
    padding:0;
    list-style-type: none;
}

.stock-selector ul li{
    position: relative;
    display:none;
    width:60px;
    border:1px solid #3d3d3d;
    margin:-1px 0 0 -1px;
}

.includeInCount{
    display: inline-block !important;   
}

.selectedState{
    display: none;   
}

.add-stock-item{
    width: 100%;   
    text-align: center;
    border-bottom:1px solid #3d3d3d;
    padding:17px 0;
}

.add-stock-item:hover{
   background-color: #3d3d3d;
    color:#ffffff;
    cursor: pointer;
}


.quantity-selected{
    width: 100%;   
    text-align: center;
    border-bottom:1px solid #3d3d3d;
    padding:17px 0;
    background-color:#979797;
    color:#ffffff;
}

.stock-item-contorls{
    position: relative;
    width: 100%;   
    text-align: center;
    padding:10px 0;
}


.decrement, .increment{
     position: absolute;
    top:-22px;
    border:1px solid #3d3d3d;
    width:20px;
}

.decrement:hover, .increment:hover{
    cursor: pointer;
    background-color: #3d3d3d;
    color:#ffffff;
}

.decrement{

    left:-1px;

}

.increment{
  
    right:-1px;
    
}

/* information-triggers */


#sizing, #refunds{
    position: relative;
    display: inline-block;
    padding:20px 0 18px 0;
   
    border: 1px solid #3d3d3d;
    text-align: center;
    margin-left:-1px;
    margin-bottom: 10px;
}

#sizing:hover, #refunds:hover{
    
       cursor: pointer;
    background-color: #3d3d3d;
    color:#ffffff;
    
}

/* #####################   Add to Cart  #################### */

#add-to-cart{
    display: none;
    background-color:#3d3d3d;
    position:fixed;
    bottom:0;
    right:0;
    padding:30px 0;
    text-align: center;
    color:#ffffff;
    width:33%;
    z-index:10;
    /* Text */
    font-size: 14px;
    color:#ffffff;
    
    
}

.add-to-cart-full-width{
    width: 100% !important;   
}

#price, #add-to-cart-button{
    font-family: HelveticaNeueLTPro-Bd; 
    display: inline-block;

}

#price, .price-symbol{
   color:#9c9b9b;
}

#add-to-cart-button:hover{
    cursor: pointer;
}

/* #####################    You May Also Like   #################### */

#you-may-also-like{
    position: relative;
    background-color:#ffffff;
    text-align: center;
    padding:50px 0;
    margin-bottom:0px
}

#you-may-also-like-product-wrapper{
 
    background-color: #ffffff;
    
}



	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
         #product-shot-wrapper{
                    position:relative;
                    width:100%;
                }
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
        #product-shot-wrapper{
            position:relative;
            width:100%;
        }
	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
         #product-shot-wrapper{
            position:relative;
            width:100%;
        }
            }
 
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
        #product-shot-wrapper{
            position:fixed;
            width:70%;
        }
	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 
        
        
	}

