#hero-slider{
    background-image: url(../assets/images/loading/loading.GIF);
    background-repeat: no-repeat;
    background-position: center;
    
    position: relative;
    min-height: 100px;
    overflow: hidden;
    padding: 0;
    border-bottom: 1px solid #dbdbdb;

}

.slide{

    display:none;

    
}


