
/* 

Regular font-family: HelveticaNeueLTPro-Th; 
Bold    font-family: HelveticaNeueLTPro-Bd; 
Italic  font-family: HelveticaNeueLTPro-ThIt;

normal font colour: #3d3d3d



*/

body{
    padding:0;
    margin:0;
    font-family:HelveticaNeueLTPro-Th; 
    color:#3d3d3d;
}


a:link, a:visited{
 color:#3d3d3d;   
}

a:hover{
    
}


a img:hover{
    opacity: 0.7;   
}

.slide a img:hover{
      opacity: 1 !important;
}

hr{
    margin:50px 0;   
}

h2{
    font-size: 18px;
    font-family: HelveticaNeueLTPro-Bd; 
    
}

h3{
 font-family: HelveticaNeueLTPro-Bd;   
 font-size: 14px;   
}


strong{
   font-family: HelveticaNeueLTPro-Bd;  
}


.img-responsive{
 width:100%;   
    
}

.small{
 
    font-size: 12px;
    color:#999999;
    
}



/* ###############################   HEADER   ###############################*/ 

header{
    background-color: #ffffff;
    position:fixed;
    top: 0;
    width: 100%; 
    z-index: 18;
}

#branding{
    border-bottom: 1px solid #dbdbdb;   
    padding:25px 0;
}


#logo{
    font-family: HelveticaNeueLTPro-Bd; 
    padding-left:20px;
    
    
}

#cart-close-trigger{
    display: none;
    position: absolute;
    background-color:#3d3d3d;  
    right:0;
    top:20px;
    height: 50px;
    width:96px;
    text-align: center;
    color:#ffffff; 
    z-index: 2;
    cursor: pointer;
}

#cart-close-trigger img{
    width:30px;   
    height:auto;
    margin:0 auto;
}

#cart-trigger{
    position: absolute;
    background-color: #3d3d3d;  
    right:0;
    top:0;
    padding:25px;
    text-align: center;
    color:#ffffff; 
    cursor: pointer;
}

#header{
   text-align: center; 
   padding:40px 0 30px 0;
    border-bottom: 1px solid #dbdbdb; 
}

#header ul{
    padding:0;   
}

#header ul li{
    display:inline-block;
    margin:0;
    padding:0 4px;
    
}

#categories-menu-trigger{
    display: none;   
}

.active{
    font-family: HelveticaNeueLTPro-Bd; 
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1010px){
 
    #header{
        text-align: center; 
        padding:30px 0 20px 0;
    }
    
    #header ul{
        margin: 0;   
    }
    
    #header ul li{
        padding:0 2px;
        font-size: 11px;
    
    }
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px){
 
    /* Header */
    
    #header{
    
       padding:0; 
    }
    #header ul{
        display: none;
        padding:0;
        height:353px;
        overflow: scroll;
        border: 4px solid #3d3d3d;
    }
    
    #header ul li{
        padding:15px 0;
        border-bottom: 1px solid grey;
        display: block; 
        width:100%;
    }
    
    .divider{
        display: none !important;
    }
    
    #categories-menu-trigger{
        position: relative;
        display: block;
        border-bottom: 1px solid #dbdbdb;
        padding:20px 0 5px 0;
        margin:-1px 0 0 0;
        font-family: HelveticaNeueLTPro-Bd; 
    }
    
    .hamburger{
        position: absolute;
        left:10px;
        top:10px;
        background-image:url(../assets/images/icons/hamburger.png);
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 5px 5px;
        width:40px;
        height:40px;

        cursor: pointer;
        
    }
    
}

/* ###############################   CART   ###############################*/

#cart-wrapper{
    display: none;
    position: fixed;
    right:0px;
    top:70px;
    background-color:#e6e6e6;
    width:400px;
    height:100%;
    z-index: 20;
    overflow: scroll;
}

#empty-cart{
    text-align: center;
    width: 100%;
    position: relative;
  top: 50%;
  transform: translateY(-50%);   
}

#cart{
    
    padding-bottom: 250px;
    
}



.cart-product-result{
    position: relative;
    width:90%;   
    margin:10px auto;
    padding:0 0 10px 0;
    border-bottom: 1px solid #3d3d3d;
}

    .cart-product-info{
        position: relative;
     margin-left:-17px;
        overflow: visible;
        padding-bottom: 40px;
    }

    .cart-product-result h4{
        font-family: HelveticaNeueLTPro-Bd;
        font-size: 14px;   
    }

    .cart-product-result p{
        margin-top:10px;
        font-size: 12px;   
    }

    .addOn{
        border-top: 1px solid #bdbdbd;
        padding:7px 0 0 0;
        margin-bottom:0;
    }

    .remove-product{
       position: absolute;
        left:178px;
        bottom:10px; 
    }

    .cart-product-subtotal{
        font-family: HelveticaNeueLTPro-Bd;
        position: absolute;
        right:5px;
        bottom:10px;
    }



#cartBulkDiscount{
     font-family: HelveticaNeueLTPro-Bd;
    text-align: right;
    width: 94%;
}

#total-wrapper{
    position:fixed;
    background-color: #ffffff;
    bottom:70px;
    width:400px;
    height: 93px;
    padding:33px 0;
}

#total-label{
    position: absolute;
    left:45px;
    top:30px;
}

#total-amt{
    font-family: HelveticaNeueLTPro-Bd; 
    position: absolute;
    top:25px;   
    right:45px;
    font-size: 20px;
}



#checkout-button{
    position: fixed;
   background-color: #3d3d3d; 
    width:400px;
    bottom:0;
    padding:33px 0;
    color:#ffffff;
    text-align: center;
    z-index: 21;
    overflow: scroll;
    
    
}

#checkout-button a:link, #checkout-button a:visited{
       color:#ffffff;
}


#fadeout{
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    background-color:#000000;
    width:100%;
    height: 100%;
    z-index: 19;
    opacity: .7;
    
}


/* ###############################   MAIN   ###############################*/

main{

margin-bottom:150px;
    

}


/* ###############################   FOOTER   ###############################*/

footer{
 
    background-color:#3d3d3d;
    text-align: center;
    color:#ffffff;
    padding-top:25px;
    
}

#social-icons div{
    display: inline-block;
}

footer nav ul li a:link, footer nav ul li a:visited{
    color:#ffffff;   
}

#footer{
   text-align: center; 
   padding:40px 0 30px 0;
    border-bottom: 1px solid #dbdbdb; 
}

#footer ul{
    padding:0;   
}

#footer ul li{
    display:inline-block;
    margin:0;
    padding:0 4px;
    
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 1010px){
 
    #footer{
        text-align: center; 
        padding:30px 0 20px 0;
    }
    
    #footer ul{
        margin: 0;   
    }
    
    #footer ul li{
        padding:0 2px;
        font-size: 11px;
    
    }
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px){
 
    /* Header */
    
    #footer{
       padding:0; 
    }
    
    #footer-logo{
        width: 100%;
    }
    
    #footer ul{
     border: 4px solid #3d3d3d;
    }
    
    #footer ul li{
        padding:15px 0;
        border-bottom: 1px solid grey;
        display: block; 
        width:100%;
    }
    
} 

/* ###############################  Catalogue Result   ###############################*/

.product-wrapper{
    position: relative;
    margin-top:10px;
    padding-top:77px;
    background-color: #f6f6f6;
    max-height: 650px;
    text-align: center;
    font-size:14px;

    
}

.available-colors{
    position: absolute;
    top:0;
    left:0;
    padding:25px 0 0 25px
    
}

.color{
    background-size:24px 24px !important;
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 29px;
    width:22px;
    height:22px;
    margin-right:5px;
    

    
}

.new-flag{
    background-color:#3d3d3d;
    position: absolute;
    top: 0;
    right: 0;
    padding:22px 28px;   
    
    color: #ffffff;
}


	


.product-wrapper p{
    padding:60px 0 30px 0;   
}

.image-1{
    position: relative;
    z-index:2; 

}

.image-1:hover{
    opacity: 0;

    
}

.image-2{
    position: absolute;
    z-index: 1;
    top: 77px;
    left: 0;
}

/* Custom, iPhone Retina */


	@media only screen and (min-width : 320px){
        
        .product-wrapper{
                padding-top:0px;
                font-size:9px;
        }
        
      .available-colors{
            text-align: left;
            position:relative;
            padding:10px 0 3px 10px;

        }
        .new-flag{
           display:none;
        }
        .image-2{
            display: none;
           
        }
        
        .product-wrapper p{
            padding:15px 0 10px 0;   
        }


	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
        .product-wrapper{
                padding-top:0px;
            font-size:10px;
        }
      .available-colors{
            text-align: left;
            position:relative;
            padding:10px 0 3px 10px;

        }
        .new-flag{
           display:none;
        }
        .image-2{
            display: none;
           
        }
        
        .product-wrapper p{
            padding:15px 0 10px 0;   
        }


	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
        .product-wrapper{
                padding-top:77px;
                font-size:13px;
        }
       .available-colors{
            text-align:center;
            position:absolute;
               padding:25px 0 0 25px

        }
        .new-flag{
           display:block;
        }
        .image-2{
           display:inline-block;
           
        }
        
        .product-wrapper p{
               padding:60px 0 30px 0;   
        }

	}


/* Colours */

.black{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px; 
    color:#a09f9f;
    background: url("../assets/images/colours/black.png") center;
}

.grey-marle{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/grey-marle.png") center;
}

.white{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/white.png") center;
}

.hemp{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/hemp.png") center;
       
}

.white-black{
    color:#707070;
    font-family: HelveticaNeueLTPro-Bd; 
    background: url("../assets/images/colours/white-black.png") center;
     background-size: contain; 
}

.white-grey{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/white-grey.png") center;
      background-size: contain; 
}

.white-navy{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/white-navy.png") center;
      background-size: contain; 
}

.white-peach{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/white-peach.png") center ;
    background-size: contain;   
}

.white-teal{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/white-teal.png") center;
    background-size: contain;   
}

.emerald{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/emerald.png") center;
    background-size: contain;
       
}


.sapphire{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/sapphire.png") center;
     background-size: contain;  
}


.woodlands{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/woodlands.png") center;
    background-size: contain;   
}


.whale{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/whale.png") center;
    background-size: contain;   
}

.cat{
    font-family: HelveticaNeueLTPro-Bd; 
    font-size: 18px;
    color:#202020;
    background: url("../assets/images/colours/cat.png") center;
    background-size: contain;   
}



